@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
.projectContainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}

.projectContainer> h1{
    padding-bottom: 15px;

}

.projectContainer > p{
    padding-bottom: 25px;

}

.projectContainer__projects{
    display:flex ;
    width: 43vw;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 200px;

}
.source__code{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
    padding-top: 20px;
}

.heading{
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    color: chocolate;
}
