@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
.sourceCotainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}

.projectContainer> h1{
    align-items: center;
    padding-bottom: 15px;

}

.sourceCodes__projects{
    display:flex ;
    width: 43vw;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 200px;
    

}
